/* Navbar.css */
.navbar {
    height: auto;
    background-color: #1f80db;
    color: #fff;
    display: flex;
    justify-content:flex-start;
    gap: 40px;
    align-items: center;
    padding: 1px 50px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  